
.jqx-widget-content-oasis{font-family: Arial; border-color: #d4d4d4; color: #444444; background-color: #fff;}
.jqx-widget-header-oasis{font-family: Arial; color: #444444; border-color:#d4d4d4; background-color:#ffffff;}

.jqx-fill-state-normal-oasis{font-family: Arial; border-color: #d4d4d4; color: #444444; background: #fdfdfd;}
.jqx-grid-cell-sort-alt-oasis, .jqx-grid-cell-filter-alt-oasis, .jqx-grid-cell-pinned-oasis, .jqx-grid-cell-alt-oasis, .jqx-grid-cell-sort-oasis{ background:#ededed; color: #000;}
.jqx-button-oasis {border-color: #d4d4d4;}
.jqx-fill-state-hover-oasis{border-color:#86bfa0; color: #000; background:#d3f0e0;}
.jqx-input-oasis, .jqx-input-button-content-oasis {border-color: #d4d4d4;}
.jqx-fill-state-focus-oasis, .jqx-combobox-content-focus-oasis, .jqx-numberinput-focus, .jqx-datetimeinput-oasis .jqx-fill-state-hover-oasis, .jqx-datetimeinput-oasis .jqx-fill-state-pressed-oasis{ border-color: #86bfa0; }
.jqx-fill-state-pressed-oasis{border-color:#429366; color: #000; background:#86bfa0;}

.jqx-scrollbar-state-normal-oasis, .jqx-grid-bottomright-oasis, .jqx-panel-bottomright-oasis, .jqx-listbox-bottomright-oasis{background:#f3f3f3;}
.jqx-widget-oasis .jqx-grid-column-header-oasis, .jqx-grid-cell-oasis, .jqx-widget-oasis .jqx-grid-cell-oasis, .jqx-widget-oasis .jqx-grid-group-cell-oasis, .jqx-grid-group-cell-oasis{font-family: Arial; border-color:#f3f3f3;}
.jqx-tabs-title-bottom-oasis, .jqx-tabs-title-oasis{color: #666666;}
.jqx-tabs-title-hover-bottom-oasis, .jqx-tabs-title-hover-top-oasis{color: #217346; background: transparent; border-color: transparent;}
.jqx-tabs-title-selected-bottom-oasis, .jqx-tabs-selection-tracker-bottom-oasis, .jqx-tabs-title-selected-top-oasis, .jqx-tabs-selection-tracker-top-oasis{font-weight: bold; color: #217346; border-color:#d4d4d4; border-bottom:1px solid #fff; background:#fff}
.jqx-menu-vertical-oasis{background: #fff; border-color: #d4d4d4;}
.jqx-widget-oasis .jqx-grid-cell-oasis, .jqx-widget-oasis .jqx-grid-column-header-oasis, .jqx-widget-oasis .jqx-grid-group-cell-oasis {color: #000; border-color: #d4d4d4;}
.jqx-widget-oasis .jqx-grid-column-menubutton-oasis, .jqx-widget-oasis .jqx-grid-column-sortascbutton-oasis, .jqx-widget-oasis .jqx-grid-column-sortdescbutton-oasis, .jqx-widget-oasis .jqx-grid-column-filterbutton-oasis {
    background-color: transparent;
    border-color: #d4d4d4;
}
 .jqx-input-button-header-oasis, .jqx-calendar-title-header-oasis, .jqx-grid-oasis .jqx-widget-header-oasis, .jqx-grid-header-oasis, .jqx-grid-column-header-oasis, .jqx-grid-oasis {font-family: Arial; border-color: #d4d4d4; color: #444444; background: #fff;}
.jqx-window-header-oasis{font-family: Arial; color: #444444; background: #fff;}
.jqx-grid-column-menubutton-oasis {
    background-image: url('images/oasis-icon-down.png');
 }
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-oasis {
    background-image: url('images/oasis-icon-up.png');
 }
.jqx-grid-column-sortdescbutton-oasis {
    background-image: url('images/oasis-icon-down.png');
}
.jqx-checkbox-hover-oasis {
    background: #fff;
}
.jqx-radiobutton-hover-oasis {
    background: #fff;
}
.jqx-scrollbar-thumb-state-normal-horizontal-oasis, .jqx-scrollbar-thumb-state-normal-oasis {
    background: #ffffff; border-color: #d4d4d4;
}
.jqx-scrollbar-thumb-state-hover-horizontal-oasis, .jqx-scrollbar-thumb-state-hover-oasis {
    background: #f0f0f0; border-color: #d4d4d4;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-oasis, .jqx-scrollbar-thumb-state-pressed-oasis {
    background: #f0f0f0; border-color: #777777;
}
.jqx-scrollbar-button-state-normal-oasis
{
    border: 1px solid #d4d4d4; 
    background: #fff;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-oasis
{
    border: 1px solid #777777;
    background: #fff;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-oasis
{
    border: 1px solid #777777;
    background: #f0f0f0;
}

/*icons*/
.jqx-window-collapse-button-oasis
{
    background-image: url(images/oasis-icon-up.png);
    background-repeat: no-repeat;
}
.jqx-window-collapse-button-collapsed-oasis {
    background-image: url(images/oasis-icon-down.png);
    background-repeat: no-repeat;
}
.jqx-icon-arrow-up-oasis, .jqx-expander-arrow-bottom-oasis, .jqx-menu-item-arrow-up-oasis
{
    background-image: url('images/oasis-icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-down-oasis, .jqx-expander-arrow-top-oasis, .jqx-tree-item-arrow-expand-oasis, .jqx-tree-item-arrow-expand-hover-oasis, .jqx-menu-item-arrow-down-oasis
{
    background-image: url('images/oasis-icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-left-oasis, .jqx-menu-item-arrow-left-oasis
{
    background-image: url('images/oasis-icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-right-oasis, .jqx-menu-item-arrow-right-oasis, .jqx-tree-item-arrow-collapse-oasis, .jqx-tree-item-arrow-collapse-hover-oasis
{
    background-image: url('images/oasis-icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tabs-arrow-left-oasis, .jqx-tree-item-arrow-collapse-rtl-oasis, .jqx-tree-item-arrow-collapse-hover-rtl-oasis
{
    background-image: url('images/oasis-icon-left.png');
    background-repeat: no-repeat;
}
.jqx-tabs-arrow-right-oasis
{
    background-image: url('images/oasis-icon-right.png');
    background-repeat: no-repeat;
}

.jqx-menu-item-arrow-up-selected-oasis, .jqx-icon-arrow-up-selected-oasis{background-image:url('images/oasis-icon-up.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-oasis, .jqx-icon-arrow-down-selected-oasis{background-image:url('images/oasis-icon-down.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-oasis, .jqx-icon-arrow-left-selected-oasis{background-image:url('images/oasis-icon-left.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-oasis, .jqx-icon-arrow-right-selected-oasis{background-image:url('images/oasis-icon-right.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-oasis{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-selected-oasis{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-hover-oasis{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-expander-arrow-bottom-oasis,.jqx-scrollbar-oasis .jqx-icon-arrow-up-selected-oasis{background-image:url('images/oasis-icon-up.png'); background-repeat:no-repeat; background-position:center;}
.jqx-expander-arrow-top-oasis, .jqx-scrollbar-oasis .jqx-icon-arrow-down-selected-oasis{background-image:url('images/oasis-icon-down.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-oasis .jqx-icon-arrow-left-selected-oasis{background-image:url('images/oasis-icon-left.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-oasis .jqx-icon-arrow-right-selected-oasis{background-image:url('images/oasis-icon-right.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-slider-oasis
{
}
.jqx-slider-button-oasis
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
.jqx-input-button-content-oasis
{  
    font-size: 10px;
}

.jqx-dropdownlist-state-normal-oasis, .jqx-dropdownlist-state-hover-oasis, .jqx-dropdownlist-state-selected-oasis,
.jqx-scrollbar-button-state-hover-oasis, .jqx-scrollbar-button-state-normal-oasis, .jqx-scrollbar-button-state-pressed-oasis,
.jqx-scrollbar-thumb-state-normal-horizontal-oasis, .jqx-scrollbar-thumb-state-hover-horizontal-oasis, .jqx-scrollbar-thumb-state-pressed-horizontal-oasis,
.jqx-scrollbar-thumb-state-normal-oasis, .jqx-scrollbar-thumb-state-pressed-oasis, .jqx-button-oasis, .jqx-tree-item-hover-oasis, .jqx-tree-item-selected-oasis,
.jqx-tree-item-oasis, .jqx-menu-item-oasis, .jqx-menu-item-hover-oasis, .jqx-menu-item-selected-oasis, .jqx-menu-item-top-oasis, .jqx-menu-item-top-hover-oasis, 
.jqx-menu-item-top-selected-oasis, .jqx-slider-button-oasis, .jqx-slider-slider-oasis
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-oasis {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #a6a6a6;
}
.jqx-switchbutton-thumb-oasis {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-oasis {
    background: #429366;
    color: #429366;
}
.jqx-switchbutton-label-off-oasis {
    background: #a6a6a6;
    color: #a6a6a6;
}
.jqx-icon-arrow-first-metro
{
    background-image: url('images/oasis-icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-metro
{
    background-image: url('images/oasis-icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-switchbutton-wrapper-oasis {
}
.jqx-layout-oasis
{
    background-color: #d4d4d4;
}.jqx-widget-oasis
{
  font-family: Arial;
}
.jqx-widget-content-oasis
{
  color: #202A45;
  text-shadow: none;
  border-color: #D1D2D6;
  background: #ffffff;
  font-family: Arial;
}
.jqx-widget-header-oasis, .jqx-grid-oasis .jqx-widget-header-oasis
{
  color: #000;
  background: #C2DDF2;
  text-shadow: none;
  border-color: #157FCC;
  background-color: #157FCC;
  background-image: -moz-linear-gradient(top, #157FCC, #157FCC);
  background-image: -ms-linear-gradient(top, #157FCC, #157FCC);
  background-image: -o-linear-gradient(top, #157FCC, #157FCC);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#157FCC), to(#157FCC));
  background-image: -webkit-linear-gradient(top, #157FCC, #157FCC);
  background-image: linear-gradient(top, #157FCC, #157FCC);
  background-image: linear-gradient(to bottom, #157FCC, #157FCC);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Arial;
}
.jqx-grid-column-menubutton-oasis, .jqx-widget-oasis.jqx-grid-column-menubutton-oasis
{
  border-color: #157FCC;
}
.jqx-grid-cell-oasis, .jqx-widget-oasis .jqx-grid-cell-oasis
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-oasis
{
  color: #202A45;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -ms-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -o-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#fdfdfd));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(to bottom, #fdfdfd, #fdfdfd);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Arial;
}
.jqx-button-oasis
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -ms-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -o-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#fdfdfd));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(to bottom, #fdfdfd, #fdfdfd);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Arial;
}
.jqx-grid-selectionarea-oasis
{
  border-color: #d4d4d4;
  background-color: #fdfdfd;
}
.jqx-widget-oasis .jqx-grid-cell-sort-oasis, .jqx-widget-oasis .jqx-grid-cell-filter-oasis, .jqx-widget-oasis .jqx-grid-cell-pinned-oasis, .jqx-grid-cell-sort-oasis, .jqx-grid-cell-filter-oasis, .jqx-grid-cell-pinned-oasis
{
  background-color: #ededed;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-oasis .jqx-grid-cell-alt-oasis, .jqx-widget-oasis .jqx-grid-cell-sort-alt-oasis, .jqx-widget-oasis .jqx-grid-cell-pinned-alt-oasis, .jqx-widget-oasis .jqx-grid-cell-filter-alt-oasis, .jqx-grid-cell-alt-oasis, .jqx-grid-cell-sort-alt-oasis, .jqx-grid-cell-filter-alt-oasis
{
  background-color: #F5F5F5;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-oasis, .jqx-widget-oasis .jqx-grid-cell-hover-oasis
{
  color: #202A45;
  text-shadow: none;
  border-color: #5FA2DD;
  background-color: #E0EBF3;
  background-image: -moz-linear-gradient(top, #E0EBF3, #E0EBF3);
  background-image: -ms-linear-gradient(top, #E0EBF3, #E0EBF3);
  background-image: -o-linear-gradient(top, #E0EBF3, #E0EBF3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E0EBF3), to(#E0EBF3));
  background-image: -webkit-linear-gradient(top, #E0EBF3, #E0EBF3);
  background-image: linear-gradient(top, #E0EBF3, #E0EBF3);
  background-image: linear-gradient(to bottom, #E0EBF3, #E0EBF3);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Arial;
}
.jqx-fill-state-pressed-oasis, .jqx-widget-oasis .jqx-grid-cell-selected-oasis
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #5FA2DD;
  background-color: #5FA2DD;
  background-image: -moz-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: -ms-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: -o-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#5FA2DD), to(#5FA2DD));
  background-image: -webkit-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: linear-gradient(to bottom, #5FA2DD, #5FA2DD);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Arial;
}
.jqx-switchbutton-label-on-oasis
{
  color: #FFFFFF;
  text-shadow: none;
  border-color: #5FA2DD;
  background-color: #5FA2DD;
  background-image: -moz-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: -ms-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: -o-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#5FA2DD), to(#5FA2DD));
  background-image: -webkit-linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: linear-gradient(top, #5FA2DD, #5FA2DD);
  background-image: linear-gradient(to bottom, #5FA2DD, #5FA2DD);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-oasis, .jqx-tabs-selection-tracker-top-oasis
{
  color: #202A45;
  text-shadow: none;
  border-color: #D1D2D6;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-oasis, .jqx-tabs-selection-tracker-bottom-oasis
{
  color: #202A45;
  text-shadow: none;
  border-color: #D1D2D6;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-oasis
{
  background: #E0EBF3;
}
.jqx-splitter-splitbar-vertical-oasis, .jqx-splitter-splitbar-horizontal-oasis, .jqx-slider-track-horizontal-oasis, .jqx-slider-track-vertical-oasis
{
  background: #fdfdfd;
}
.jqx-splitter-collapse-button-horizontal-oasis, .jqx-splitter-collapse-button-vertical-oasis, .jqx-slider-rangebar-oasis
{
  background: #5FA2DD;
}
.jqx-scrollbar-state-normal-oasis
{
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.jqx-grid-bottomright-oasis, .jqx-panel-bottomright-oasis, .jqx-listbox-bottomright-oasis
{
  background-color: #f3f3f3;
}
.jqx-scrollbar-thumb-state-normal-oasis
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-normal-horizontal-oasis
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-oasis
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left right, #f0f0f0, #f0f0f0);
}
.jqx-scrollbar-thumb-state-hover-horizontal-oasis
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-oasis
{
  background-color: #E0EBF3;
  border-color: #E0EBF3;
  background-image: -moz-linear-gradient(left, #E0EBF3, #f0f0f0);
  background-image: -ms-linear-gradient(left, #E0EBF3, #f0f0f0);
  background-image: -o-linear-gradient(left, #E0EBF3, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, right top, from(#E0EBF3), to(#f0f0f0));
  background-image: -webkit-linear-gradient(left, #E0EBF3, #f0f0f0);
  background-image: linear-gradient(left, #E0EBF3, #f0f0f0);
  background-image: linear-gradient(left right, #E0EBF3, #f0f0f0);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-oasis
{
  background-color: #E0EBF3;
  border-color: #E0EBF3;
  background-image: -moz-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: -ms-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: -o-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E0EBF3), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: linear-gradient(to bottom, #E0EBF3, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-oasis
{
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -ms-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -o-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f3f3f3), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-oasis
{
  background-color: #f0f0f0;
  border-color: #ababab;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-oasis
{
  background-color: #E0EBF3;
  border-color: #5FA2DD;
  background-image: -moz-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: -ms-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: -o-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#E0EBF3), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: linear-gradient(top, #E0EBF3, #f0f0f0);
  background-image: linear-gradient(to bottom, #E0EBF3, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-oasis
{
  background: #202A45;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-oasis
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-oasis
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-oasis
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-oasis
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-oasis
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-oasis
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-oasis
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-oasis
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-oasis, .jqx-radiobutton-oasis, .jqx-radiobutton-check-checked-oasis, .jqx-radiobutton-hover-oasis, .jqx-radiobutton-check-indeterminate-oasis, .jqx-radiobutton-check-indeterminate-disabled-oasis, .jqx-slider-button-oasis
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-oasis, .jqx-tooltip-oasis, .jqx-tooltip-text-oasis, .jqx-tooltip-main-oasis
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-oasis, .jqx-expander-arrow-bottom-oasis, .jqx-window-collapse-button-oasis, .jqx-menu-item-arrow-up-oasis, .jqx-menu-item-arrow-top-up-oasis, .jqx-icon-arrow-up-oasis
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-oasis
{
  background-image: url('images/icon-up-white.png');
}
.jqx-menu-item-arrow-up-selected-oasis, .jqx-icon-arrow-up-selected-oasis.jqx-expander-arrow-expanded-oasis
{
  background-image: url('images/icon-up-white.png');
}
.jqx-grid-column-menubutton-oasis, .jqx-grid-column-sortdescbutton-oasis, .jqx-expander-arrow-top-oasis, .jqx-window-collapse-button-collapsed-oasis, .jqx-menu-item-arrow-down-oasis, .jqx-menu-item-arrow-down-oasis, .jqx-tree-item-arrow-expand-oasis, .jqx-grid-group-expand-oasis, .jqx-widget-oasis .jqx-grid-group-expand-oasis, .jqx-icon-arrow-down-oasis
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-menu-item-arrow-down-selected-oasis, .jqx-icon-arrow-down-selected-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-tabs-arrow-left-oasis, .jqx-menu-item-arrow-top-left-oasis, .jqx-grid-group-collapse-rtl-oasis, .jqx-widget-oasis .jqx-grid-group-collapse-rtl-oasis, .jqx-icon-arrow-left-oasis, .jqx-icon-arrow-down-left-oasis
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-oasis
{
  background-image: url('images/icon-left-white.png');
}
.jqx-menu-vertical-oasis
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-oasis, .jqx-icon-arrow-left-selected-oasis
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tabs-arrow-right-oasis, .jqx-menu-item-arrow-top-right-oasis, .jqx-menu-item-arrow-collapse-oasis, .jqx-grid-group-collapse-oasis, .jqx-widget-oasis .jqx-grid-group-collapse-oasis, .jqx-icon-arrow-right-oasis
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-oasis
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-right-selected-oasis, .jqx-icon-arrow-right-selected-oasis
{
  background-image: url('images/icon-right-white.png');
}
.jqx-window-close-button-oasis, .jqx-tabs-close-button-oasis, .icon-close-oasis
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-selected-oasis
{
  background-image: url('images/close_white.png');
}
.jqx-tabs-close-button-hover-oasis
{
  background-image: url('images/close_white.png');
}
.jqx-widget-oasis .jqx-grid-column-header-oasis, .jqx-widget-oasis .jqx-grid-cell-oasis, .jqx-widget-oasis .jqx-grid-group-cell-oasis, .jqx-grid-cell-oasis
{
  border-color: #d4d4d4;
}
.jqx-checkbox-check-checked-oasis
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-oasis
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-oasis, .jqx-tooltip-main-oasis
{
  color: #444444;
  text-shadow: none;
  border-color: #D4D4D4;
  background-color: #fdfdfd;
}
.jqx-combobox-content-oasis, .jqx-input-oasis
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #ffffff;
}
.jqx-combobox-input-oasis
{
  color: #444444;
  text-shadow: none;
}
.jqx-input-content-oasis
{
  color: #444444;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-oasis, .jqx-popup-oasis .jqx-fill-state-focus-oasis
{
  border-color: #5FA2DD;
}
.jqx-popup-oasis.jqx-listbox-oasis, .jqx-popup-oasis.jqx-calendar-oasis,.jqx-menu-dropdown-oasis,  .jqx-popup-oasis.jqx-dropdownbutton-popup-oasis
{
  color: #444444;
  text-shadow: none;
  border-color: #5FA2DD;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-oasis, .jqx-tree-item-arrow-collapse-oasis
{
  background-image: url('images/icon-right-white.png');
}
.jqx-menu-item-arrow-left-oasis
{
  background-image: url('images/icon-left-white.png');
}
.jqx-tree-item-arrow-expand-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-up-oasis
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-left-oasis
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-right-oasis
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-bottom-oasis
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-up-hover-oasis
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-left-hover-oasis
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-right-hover-oasis
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-bottom-hover-oasis
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-up-selected-oasis
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-left-selected-oasis
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-right-selected-oasis
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-oasis .jqx-icon-arrow-bottom-selected-oasis
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-oasis .jqx-icon-arrow-up-oasis, .jqx-tabs-header-oasis .jqx-icon-arrow-up-oasis
{
}
.jqx-calendar-oasis .jqx-icon-arrow-left-oasis, .jqx-tabs-header-oasis .jqx-icon-arrow-left-oasis
{
}
.jqx-calendar-oasis .jqx-icon-arrow-right-oasis, .jqx-tabs-header-oasis .jqx-icon-arrow-right-oasis
{
}
.jqx-calendar-oasis .jqx-icon-arrow-bottom-oasis, .jqx-tabs-header-oasis .jqx-icon-arrow-bottom-oasis
{
}
.jqx-widget-oasis .jqx-grid-cell-oasis, .jqx-listitem-state-normal-oasis, .jqx-menu-item-normal-oasis, .jqx-tree-item-normal-oasis, .jqx-calendar-cell-oasis, .jqx-grid-cell-oasis,.jqx-menu-vertical-oasis .jqx-menu-item-top-normal-oasis, .jqx-input-popup-oasis .jqx-fill-state-normal-oasis
{
  font-family: Arial;
}
.jqx-widget-oasis .jqx-grid-cell-hover-oasis, .jqx-listitem-state-hover-oasis, .jqx-menu-item-hover-oasis, .jqx-tree-item-hover-oasis, .jqx-calendar-cell-hover-oasis, .jqx-grid-cell-hover-oasis,.jqx-menu-vertical-oasis .jqx-menu-item-top-hover-oasis, .jqx-input-popup-oasis .jqx-fill-state-hover-oasis,.jqx-input-button-header-oasis, .jqx-input-popup-oasis .jqx-fill-state-pressed-oasis,.jqx-input-button-header-oasis
{
  font-family: Arial;
}
.jqx-widget-oasis  .jqx-grid-cell-selected-oasis, .jqx-listitem-state-selected-oasis, .jqx-menu-item-selected-oasis, .jqx-tree-item-selected-oasis, .jqx-calendar-cell-selected-oasis, .jqx-grid-cell-selected-oasis,.jqx-menu-vertical-oasis .jqx-menu-item-top-selected-oasis, .jqx-grid-selectionarea-oasis
{
  font-family: Arial;
}
.jqx-icon-calendar-oasis
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-oasis
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-calendar-pressed-oasis
{
  background-image: url('images/icon-calendar-white.png');
}
.jqx-icon-first-oasis
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-oasis
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-first-selected-oasis
{
  background-image: url('images/icon-first-white.png');
}
.jqx-icon-last-oasis
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-oasis
{
  background-image: url('images/icon-last-white.png');
}
.jqx-icon-last-selected-oasis
{
  background-image: url('images/icon-last-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-oasis>.jqx-grid-group-expand-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-hover-oasis>.jqx-grid-group-expand-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-selected-oasis>.jqx-grid-group-expand-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-oasis>.jqx-grid-group-collapse-oasis
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-hover-oasis>.jqx-grid-group-collapse-oasis
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-selected-oasis>.jqx-grid-group-collapse-oasis
{
  background-image: url('images/icon-right-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-oasis>.jqx-grid-group-expand-rtl-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-hover-oasis>.jqx-grid-group-expand-rtl-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-selected-oasis>.jqx-grid-group-expand-rtl-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-oasis>.jqx-grid-group-collapse-rtl-oasis
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-hover-oasis>.jqx-grid-group-collapse-rtl-oasis
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-cell-oasis.jqx-grid-cell-selected-oasis>.jqx-grid-group-collapse-rtl-oasis
{
  background-image: url('images/icon-left-white.png');
}
.jqx-grid-column-menubutton-oasis, .jqx-grid-column-sortdescbutton-oasis
{
  background-image: url('images/icon-down-white.png');
}
.jqx-grid-column-sortascbutton-oasis
{
  background-image: url('images/icon-up-white.png');
}
.jqx-icon-delete-oasis
{
  background-image: url('images/icon-delete-white.png');
}
.jqx-icon-edit-oasis
{
  background-image: url('images/icon-edit-white.png');
}
.jqx-icon-save-oasis
{
  background-image: url('images/icon-save-white.png');
}
.jqx-icon-cancel-oasis
{
  background-image: url('images/icon-cancel-white.png');
}
.jqx-icon-search-oasis
{
  background-image: url('images/icon-search_white.png');
}
.jqx-icon-plus-oasis
{
  background-image: url('images/icon-plus_white.png');
}

.jqx-tabs-title {
    color: #FFFFFF;
}
.jqx-tabs-title-selected-top-oasis,.jqx-tabs-title-selected-top-oasis:hover{
    color: #202a45;
}
.jqx-fill-state-hover-oasis{
 color: #202a45;   
}